table, th, td {
    border-collapse: collapse;
  }
.nos {    
    width: 40%;
    text-align: justify;
}
.menu { 
 width: 25%;
 text-align: left;
}
.tableI{    
    width: 100%;
}
.Titulo {       
    text-align: center;
}
* {
  box-sizing: border-box;
}
.cabecera { grid-area: header; }
.costadoI { grid-area: menu; }
.centro { grid-area: main; }
.costadoD { grid-area: right; }
.cierre { grid-area: footer; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 0px;
  background-color: powderblue;
  padding: 0px;
}
.grid-container > div {
    background-color: powderblue;
    text-align: center;
    padding: 0px 0;
    font-size: 30px;
    gap: 0px 0px;
  }
  .cabecera {   
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .costadoI  {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-end: 2;
  }
  .centro { 
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 7;
  }
  .costadoD { 
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 7;
}
  .cierre { 
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:  7;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  min-height: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 800px) {
  .menu { width: 25%; }
  
  .nos {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .costadoI {
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .centro {
    grid-row-start:3;

  }
}
